fastapi~=0.115.5
pydantic~=2.10.0
uvicorn~=0.32.1
json5~=0.9.28
openai~=1.55.0
git+https://github.com/tatuylonen/wiktextract.git
wikitextprocessor~=0.4.96
requests~=2.32.2
pandas~=2.2.1
spacy~=3.7.4
transformers~=4.44.0
numpy~=1.26.4
torch~=2.2.2
rank_bm25~=0.2.2
langdetect~=1.0.9
einops~=0.8.0
optimum~=1.23.3
onnx~=1.17.0
onnxruntime~=1.20.1
sentencepiece~=0.2.0
sacremoses~=0.1.1
websockets~=14.1
